.tag {
  display: flex;
  gap: 10px;

  & button {
    background-color: #ff6060;
    border: none;
    height: 18px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 10px;

    @media (min-width: 1440px) {
      height: 25px;
      font-size: 14px;
    }
  }
}
